{project_plugins, [
    erlfmt
]}.

{plugins, [pc]}.
{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [{"priv/erl_xslt.so", ["c_src/*.c"]}]}.

{port_env, [
    {".*", "CFLAGS", "$CFLAGS -O3 `pkg-config --cflags libxslt`"},
    {".*", "LDFLAGS", "$LDFLAGS `pkg-config --libs libxslt`"}
]}.

%% formater

{erlfmt, [
    write,
    %require_pragma,
    verbose,
    {print_width, 100},
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "apps/*/{src,include,test}/*.{hrl,erl,app.src}",
        "apps/*/{src,include,test}/*/*.{hrl,erl,app.src}",
        "rebar.config",
        "rebar.config.template",
        "elvis.config"
    ]},
    {exclude_files, []}
]}.
